.wd-course-bar {
    color: red;
    display: flex;
    align-items: center;
}

.wd-course-main {
    margin: 10px;
}

.wd-separator {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(128, 128, 128);
}

.wd-breadcrumb-link a:link {
    text-decoration: none;
    color: red;
    font-weight: normal;
}

.wd-breadcrumb-link a:visited {
    text-decoration: none;
    color: red;
    margin: 5px;
    font-weight: normal;
}

ol {
    margin-top: 30px;
}

.wd-custom-breadcrumb {
    --bs-breadcrumb-divider: '>';
}

@media (min-width: 768px) {   .d-md-block {     position: static !important; } }






























.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.d-flex {
    margin-left: 0;
}
.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    color:white;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    width: 80px;
    text-align: center;
    min-height: max(100vh, 100%);
}
.wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
    color: red;
}
.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}
.wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 15px;
}

.wd-kanbas-navigation img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}

.wd-export-dropdown {
    background-color: #f8f9fa;
}

.wd-heading-details {
    font-size: small;
    color: black;
}

.table > thead {
    vertical-align: middle;
}
.table > tbody > tr > td {
    text-align: center;
}

.table > thead > tr > th {
    text-align: center;
    font-weight: normal;
}

.wd-breadcrumb-link a:link {
    text-decoration: none;
    color: red;
    margin: 20px;
    font-weight:normal;
}



.wd-table-input {
    width: 200px;
    text-align: center;
}

.wd-table-input-outer {
    width: 400px;
}


.wd-float-right {
    float: right;
}







.wd-modules,
.wd-modules * {
    border-radius: 0;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid rgb(128, 128, 128) !important;
    border-left: none !important;
    margin-top: 15px;
}

.wd-modules > li > div {
    padding: 8px;
    border-left: 1px solid rgb(128, 128, 128) !important;
}

.wd-modules > li > ul > li {
    padding: 8px;
    border-top: 1px solid rgb(128, 128, 128) !important;
    border-left: 2px solid green;
}

.wd-modules > li > ul > li > a {
    text-decoration: none;
}

.wd-modules > li {
    margin-bottom: 20px;
}

.wd-link {
    color:red;
}

.straight-button button {
    border-radius: 0%;
    text-align: center;
    padding: 5px;
    margin-right: 2px;
    text-decoration: none;
}
.no-line {
    text-decoration: none;
}

.straight-box input {
    border-radius: 0%;
}

.button-one button {
    border-radius: 0%;
    text-align: center;
    margin: 0px;
    width: 100%
}

.button-two button {
    width: 100%;
    margin-top: 5px;
    text-align: left;
}

.todo-grade {
    text-align: center;
}

.todo-grade > i {
    color: red;
    font-size: 15px;
    font-weight:bold;
    text-decoration: none;
}

.todo-grade a {
    color: red;
    margin-right: 3px;
    font-size: 15px;
    font-weight:bold;
    text-decoration: none;
}

.todo-grade-small {
    font-size: small!important;
    color: rgb(128, 128, 128);
}
.cu-text {
    margin-left:3px
}

.cu-text a {
    color: red!important;
    font-size: small;
    text-decoration: none;
}
.cu-text i {
    margin-right: 5px;
}

.course-small {
    font-size: 12px!important;
    color: rgb(128, 128, 128);
}

.wd-course-nav {
    width: 180px;
}

.wd-bdc-con {
    padding-top: 10px;
}

.wd-bdc-con-left i {
    color: red;
}

.wd-bdc-con-left a {
    padding-top: 10px;
    color: red;
    text-decoration:none;
    font-size: 20px;
}

.wd-bdc-con-left li {
    padding-top: 10px;
    font-size: 20px;
}

.wd-nav a {
    color: red!important;
    padding: 15px;
    margin-bottom: 15px;
}

.wd-nav a i {
    color: red!important;
    font-size: 25px;
    margin-left:15px;
    margin-right: 5px;
}

.wd-nav a i.wd-account-icon {
    color: rgb(128, 128, 128) !important;
    font-size: 25px;
    margin-bottom: 5px;
}

.wd-nav-two {
    width:100%
}

.wd-nav-two a {
    color: red!important;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .navbar-collapse {
        position:fixed;
        top:0;
        width:100%;
        z-index:10;
        overflow-y: auto;
        height: 100vh;
    }

    .navbar-collapse.collapsing {
        height: 100%;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }

    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.1s ease-in;
        -o-transition: left 0.1s ease-in;
        -moz-transition: left 0.1s ease-in;
        transition: left 0.1s ease-in;
    }
}

.min-w-0 {
    min-width: 0;
}

.wd-grade-table {
    min-width: 100px!important;
}

.wd-grade-table th, td {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    vertical-align: middle;
    min-width: 100px!important;
    width: 100px;
    height: 50px;
}

.wd-grade-stu {
    text-align: left!important;
    vertical-align:top!important;
    font-weight: bold!important;
}

.wd-grade-names {
    width:200px!important;
    vertical-align:top!important;
    text-align: left!important;
    color:red!important;
}

.wd-grade-input {
    text-align: center!important;
    font-size: 14px;}

.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
}
.wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wd-navigation li.wd-active {
    border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
    color: black;
}
.wd-navigation a {
    color: red;
    text-decoration: none;
}

.wd-menu-button a:link {
    padding-right: 20px;
    color: red;
    margin-left: -50px;
}

.wd-menu-button a:visited {
    padding-right: 20px;
    color: red;
    margin-left: 25px;
}

.wd-breadcrumb-link a:link {
    text-decoration: none;
    color: red;
    margin: 5px;
}

.wd-breadcrumb-link a:visited {
    text-decoration: none;
    color: red;
    margin: 0px;
}

.assignment-item-title a {
    color: black;
    text-decoration: none;
}

.wd-add-button {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.wd-assign-border {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.mobile-header {
    display: none;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;

}

@media (max-width: 576px) {
    .mobile-header {
        display: block;
    }
}

.mobile-header .row {
    margin-right: 0;
    margin-left: 0;
}

.mobile-header p {
    margin-bottom: 0;
}


.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules > li {
    margin-bottom: 20px;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-module a:hover {
    text-decoration: none;
    color: black;
}



.fa-plus, .fa-ellipsis-v {
    margin-left: 10px;
}

.fa-check-circle {
    color: #28a745;
}

.list-group-item:hover {
    background-color: #e9ecef;
}

.course-module a {
    color: black;
    text-decoration: none;
}

.course-module a:hover {
    color: black;
    text-decoration: none;
}


.module-slide-link i.fa,
.module-slide-link span i.fa {
    color: red;
}

.to-do-item-title,
.link-red,
.link-small {
    color: red;
    text-decoration: none;
}

.to-do-item-title:hover,
.link-red:hover,
.link-small:hover {
    color: red;
    text-decoration: none;
}










